<!-- templates/base.html -->
<html>
  <head>
    <title>Django blog</title>
  </head>
  <body>
      <div style="background color:#ff8080">
        <div style="float:right">
          <a href="{% url 'post_new' %}"> + New Blog Post</a>
        </div>
      <h1><a href="/">Blog</a></h1>
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}


    <div class="container">
      {% block content %}
      {% endblock content %}

    </div>
          </div>

  </body>
</html>